:root {
    --txtColor: #000000; /* text color (light theme) */
    --bgColor: #ffffff; /* background color (light theme) */
    --iptColor: #f7f7f7; /* input background color (light theme) */
    --bdrColor: #e7e7e7; /* input border color (light theme) */
    --btnColor: #ffc439; /* paypal button background color (light theme) */

    --payColor: #003087; /* paypal logo first part color (light theme) */
    --palColor: #009cde; /* paypal logo second part color (light theme) */
}

@media (prefers-color-scheme: dark) {
    :root {
        --txtColor: #dfdfdf; /* text color (dark theme) */
        --bgColor: #1f1f1f; /* background color (dark theme) */
        --iptColor: #171717; /* input background color (dark theme) */
        --bdrColor: #2f2f2f; /* input border color (dark theme) */
        --btnColor: #0070ba; /* paypal button background color (dark theme) */

        --payColor: #dfdfdf; /* paypal logo first part color (dark theme) */
        --palColor: #dfdfdf; /* paypal logo second part color (dark theme) */
    }
}

form {
    width: 50%;
    padding: 8px;
    border-radius: 4px;
    display: grid;
    grid-template-areas:
        "a a a"
        "b b c"
        "d d d"
        "e e e";
    background-color: var(--bgColor);
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, .3);
}

input,
select {
    appearance: none;
    margin: 8px;
    padding: 8px;
    outline: none;
    border: 2px solid var(--bdrColor);
    border-radius: 4px;

    font-family: sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: var(--txtColor);
    caret-color: var(--txtColor);
    background-color: var(--iptColor);
}

input:disabled,
select:disabled,
input:disabled + label {
    cursor: not-allowed;
    opacity: 0.7;
    color: var(--txtColor);
}

input::placeholder {
    opacity: 0.5;
    color: var(--txtColor);
}

label {
    margin: 8px;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: var(--btnColor);
}

svg {
    position: relative;
    top: 2.45px;
    width: 101px;
    height: 32px;
}

path.pay {
    fill: var(--payColor);
}

path.pal {
    fill: var(--palColor);
}